[submodule "2048"]
	path = 2048
	url = https://github.com/heisencoder/2048.git
	branch = master
[submodule "farm-game"]
	path = farm-game
	url = https://github.com/heisencoder/farm-game.git
[submodule "blog"]
	path = blog
	url = https://github.com/heisencoder/blog.git
